section#progress.section.complex_page_progress(data-scroll-id="progress")
	.complex_page_progress__container.container 

		.tops__top.complex_page_progress__top
			.section_block 
				h2.section_block__title Ход строительства

			.tops__nav.slider__nav 
				.slider__scroll.complex_page_progress__scroll
				.slider__buttons.slider__buttons--margin
					button.slider__button.slider__button--prev.complex_page_progress__arrow--prev
						+svg('arrow_small', 'icon')
					button.slider__button.slider__button--next.complex_page_progress__arrow--next
						+svg('arrow_small', 'icon')
		
		.complex_page_progress__content
			.complex_page_progress__slider.slider.swiper 
				.swiper-wrapper 

					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg", "/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Июнь
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')
					
					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Май
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')

					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Апрель
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')
					
					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg", "/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Июнь
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')
					
					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Май
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')

					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Апрель
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')
					
					.complex_page_progress_slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0", data-gallery-slides='["/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg","/assets/img/modal_gallery_pic.jpg", "/assets/img/modal_gallery_pic.jpg"]')
						.complex_page_progress_slide__bg 
							+img(`${assetsPath}/img/modal_gallery_pic.jpg`, '', 'image')

						.complex_page_progress_slide__top
							p.complex_page_progress_slide__text Март
							p.complex_page_progress_slide__text.complex_page_progress_slide__text--small 2023
						.complex_page_progress_slide__bottom
							.complex_page_progress_slide__count(data-count="") 4 фото
							
							.complex_page_progress_slide__plus 
								+svg('plus', 'icon')