extends _base/_layout
block settings 

	- title = 'Карточка квартиры новостройки — AFLAT';


mixin layoutsCard(img, rooms, price, square)
	a.layouts_card.swiper-slide(href="/apartment_new")
		.tops_card__img
			+img(img, '', 'image')
		.layouts_card__info
			p.layouts_card__caption= rooms
			h3.layouts_card__price= price
			p.layouts_card__square= square
			button.layouts_card__btn.btn.btn--filled.btn--small
				span.btn__text Смотреть

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.apartment_new
			.apartment_new__container.sale_main__container.container 
				.apartment_new__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					a.breadcrumbs__link(href="/catalog_new") Каталог новостроек
					.breadcrumbs__dot 
					a.breadcrumbs__link(href="/complex_page")  Premium Park Дом №1
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active 2 комнатная, 60 м²

				
				h1.section_block__title 2 комнатная, 60 м²

				.apartment_new__content 
					.apartment_new__gallery
						.apartment_new_slider.swiper.slider(data-gallery-slides='["/assets/img/apartment_new_img_2.jpg","/assets/img/apartment_new_img_1.jpg","/assets/img/apartment_new_img_2.jpg", "/assets/img/apartment_new_img_1.jpg"]')
							
							button.apartment_new_slider__full(data-full-button="", data-linked-modal="modal_gallery")
								+svg('full', 'icon')

							.apartment_new_slider__nav.slider__nav
								.apartment_new_slider__pagination.slider__pagination
								.slider__buttons
									button.slider__button.slider__button--prev.apartment_new_slider__arrow--prev
										+svg('arrow_small', 'icon')
									button.slider__button.slider__button--next.apartment_new_slider__arrow--next
										+svg('arrow_small', 'icon')

							.swiper-wrapper
								.apartment_new_slider__slide.swiper-slide(data-linked-modal="modal_gallery", data-id="0")
									+img(`${assetsPath}/img/apartment_new_img_2.jpg`, '', 'image')
								.apartment_new_slider__slide.swiper-slide(data-linked-modal="modal_gallery", data-id="1")
									+img(`${assetsPath}/img/apartment_new_img_1.jpg`, '', 'image')
								.apartment_new_slider__slide.swiper-slide(data-linked-modal="modal_gallery", data-id="2")
									+img(`${assetsPath}/img/apartment_new_img_2.jpg`, '', 'image')
								.apartment_new_slider__slide.swiper-slide(data-linked-modal="modal_gallery", data-id="3")
									+img(`${assetsPath}/img/apartment_new_img_1.jpg`, '', 'image')

						.apartment_new_slider__thumbs.swiper.slider
							.swiper-wrapper
								.apartment_new_slider__thumbs_slide.swiper-slide
									+img(`${assetsPath}/img/apartment_new_img_2.jpg`, '', 'image')
								.apartment_new_slider__thumbs_slide.swiper-slide
									+img(`${assetsPath}/img/apartment_new_img_1.jpg`, '', 'image')
								.apartment_new_slider__thumbs_slide.swiper-slide
									+img(`${assetsPath}/img/apartment_new_img_2.jpg`, '', 'image')
								.apartment_new_slider__thumbs_slide.swiper-slide
									+img(`${assetsPath}/img/apartment_new_img_1.jpg`, '', 'image')

					.apartment_new_info
						h2.apartment_new_info__title О квартире
						.apartment_new_info__table 
							.apartment_new_info__line 
								p.apartment_new_info__text Проект
								p.apartment_new_info__text.apartment_new_info__text--600 Premium Park Дом №1 
							.apartment_new_info__line 
								p.apartment_new_info__text Адрес
								p.apartment_new_info__text.apartment_new_info__text--600 Верхняя улица, 16
							.apartment_new_info__line 
								p.apartment_new_info__text Этаж
								p.apartment_new_info__text.apartment_new_info__text--600 8
							.apartment_new_info__line 
								p.apartment_new_info__text Комнат
								p.apartment_new_info__text.apartment_new_info__text--600 2 комнаты
							.apartment_new_info__line 
								p.apartment_new_info__text Площадь
								p.apartment_new_info__text.apartment_new_info__text--600 60 м²
							.apartment_new_info__line 
								p.apartment_new_info__text Высота потолков
								p.apartment_new_info__text.apartment_new_info__text--600 2,8 метров

						p.apartment_new_info__title.apartment_new_info__title--price от 7 221 720 ₽

						button.apartment_new_info__btn.btn.btn--filled(data-linked-modal="modal_booking")
							span.btn__text Забронировать квартиру

				.apartment_new_banner
					<svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 378 337" fill="none">
						<path d="M377.943 173.907L183.143 0L0.20969 174.751L0 337L187.678 336.967V258.953L73.6394 258.815L73.6985 206.504L184.813 100.307L304.82 207.367L304.82 337L378 337L377.943 173.907Z" fill="white" fill-opacity="0.2"/>
					</svg>
					.apartment_new_banner__icon
						+imgSvg(`${assetsPath}/img/apart_new_form_icon.svg`, '', 'image')
					.apartment_new_banner__info 
						p.apartment_new_info__title.apartment_new_info__title--white Записаться на встречу
						p.apartment_new_banner__text Можем провести бесплатную экскурсию #[br.tablet] #[br.mobile] по любой квартире, #[br.desktop] в любой новостройке #[br.tablet] #[br.mobile] и в удобное для вас время.
					button.apartment_new_banner__btn.btn.btn--white(data-linked-modal="modal_view", data-modal-form-id="modal_view_apartment_new", data-modal-set-inputs=`[{"key":"object","value":"Квартира в новостройке"}]`)
						span.btn__text Записаться

		section.section.general_form.mortgage_form
			.general_form__container.container 
				.services_card.services_card--form
					.services_card__bg 
						+img(`${assetsPath}/img/general_form_bg_4.jpg`, '', 'image')

					.services_card__top
						h3.services_card__title Рассчитать #[br.tablet] ипотеку
						p.services_card__text Заполните поля и мы перезвоним вам с расчетом ежемесячного платежа под выбранные вами условия.

					form.services_card_form(action="/mailer" data-mailer="" data-form-id="calc_mortgage_complex_page_form")
						input(type="hidden", name="form", value="Рассчитать ипотеку (Страница новостройки)")

						.services_card_form__inputs
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="firstPayment" required autocomplete="off")
								label.input_wrapper__label Первый взнос
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="creditTerm" required autocomplete="off")
								label.input_wrapper__label Срок кредита
								.input_wrapper__tooltip(data-input-tooltip="")
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="bank", data-dropdown-placeholder="Банк", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Банк1","value":"Банк1"},{"key":"Банк2","value":"Банк2"},{"key":"Банк3","value":"Банк3"},{"key":"Банк4","value":"Банк4"},{"key":"Банк5","value":"Банк5"},{"key":"Банк6","value":"Банк6"}]')
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="conditions" required autocomplete="off")
								label.input_wrapper__label Специальные условия
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Ваше имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Номер телефона
								.input_wrapper__tooltip(data-input-tooltip="")
							

						button.services_card_form__btn.btn.btn--filled
							span.btn__text Оставить заявку
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных


		section.section.apartment_layouts
			.apartment_layouts__container.container 

				.tops__top.apartment_layouts__top
					.section_block 
						h2.section_block__title Другие квартиры в этом ЖК

					.tops__nav.slider__nav 
						.slider__scroll.apartment_layouts__scroll
						.slider__buttons.slider__buttons--margin
							button.slider__button.slider__button--prev.apartment_layouts__arrow--prev
								+svg('arrow_small', 'icon')
							button.slider__button.slider__button--next.apartment_layouts__arrow--next
								+svg('arrow_small', 'icon')
				
				.apartment_layouts__content
					.apartment_layouts__slider.slider.swiper 
						.swiper-wrapper 
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')
							+layoutsCard(`${assetsPath}/img/layouts_pic_1.png`, '2 комнаты', '7 264 060 ₽', '60 м²')