extends _base/_layout
block settings 

	- title = 'Каталог новостроек — AFLAT';

mixin topsCard(img, place, title, price, tag1, tag2)
	a.tops_card(href="/complex_page")
		.tops_card__bg
			+img(img, '', 'image')
		.tops_card__tags 
			.tops_card__tag
				span.text= tag1
			.tops_card__tag
				span.text= tag2
		.tops_card__info
			p.tops_card__caption= place
			h3.tops_card__title= title
			p.tops_card__price= price
			button.tops_card__btn.btn.btn--white.btn--small
				span.btn__text 1 квартира

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.catalog
			.catalog__container.container 
				.catalog__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Каталог новостроек

				
				h1.section_block__title Каталог новостроек

				.catalog_filters
					.catalog_filters__tabs
						button.catalog_filters__tabs_btn Сдан
						button.catalog_filters__tabs_btn Сдача в 2023
						button.catalog_filters__tabs_btn Сдача в 2024
						button.catalog_filters__tabs_btn Есть акции
						button.catalog_filters__tabs_btn С отделкой
					
					.catalog_filters__main
						.catalog_filters__block
							p.catalog_filters__caption Район
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="place", data-dropdown-placeholder="Район", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Любой","value":"Любой"},{"key":"Район1","value":"Район1"},{"key":"Район2","value":"Район2"},{"key":"Район3","value":"Район3"},{"key":"Район4","value":"Район4"},{"key":"Район5","value":"Район5"},{"key":"Район6","value":"Район6"}]')
						.catalog_filters__block
							p.catalog_filters__caption Количество комнат
							.catalog_filters__rooms 
								button.catalog_filters__rooms_btn.is-active Студия
								button.catalog_filters__rooms_btn 1
								button.catalog_filters__rooms_btn 2
								button.catalog_filters__rooms_btn 3
								button.catalog_filters__rooms_btn 4+

						.catalog_filters__block
							p.catalog_filters__caption Срок сдачи
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="deadline", data-dropdown-placeholder="Срок сдачи", data-dropdown-readonly="true", data-dropdown-options='[{"key":"В этом году","value":"В этом году"},{"key":"В следующем году","value":"В следующем году"},{"key":"Не имеет значения","value":"Не имеет значения"},{"key":"Сдан","value":"Сдан"}]')
						.catalog_filters__block
							p.catalog_filters__caption Застройщик
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="developer", data-dropdown-placeholder="Застройщик", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Любой1","value":"Любой1"},{"key":"Любой2","value":"Любой2"},{"key":"Любой3","value":"Любой3"},{"key":"Любой4","value":"Любой4"},{"key":"Любой5","value":"Любой5"},{"key":"Любой6","value":"Любой6"},{"key":"Любой7","value":"Любой7"}]')

					.catalog_filters_dropdown(data-dropdown-block="")
						.catalog_filters_dropdown__top
							button.catalog_filters_dropdown__btn(data-dropdown-btn) 
								span.text Еще фильтры
								+svg('arrow_down', 'icon icon--right')
							button.catalog_filters_dropdown__btn
								+svg('cross', 'icon icon--left')
								span.text Сбросить все фильтры

						.catalog_filters_dropdown__content
							.catalog_filters__block
								p.catalog_filters__caption Тип
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Кирпичный
									button.catalog_filters__tabs_btn Монолитный
									button.catalog_filters__tabs_btn Кирпично-монолитный
									button.catalog_filters__tabs_btn Панельный

					p.catalog_filters__caption.catalog_filters__caption--count Найдено 10 ЖК

				.catalog__content
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Пригород', 'Сады Маковского ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')
					+topsCard(`${assetsPath}/img/tops_card_pic_1.jpg`, 'Верхняя улица, 16', 'Premium Park Дом №1 ', 'от 7 264 060 ₽', 'Сдача в 2023', 'Акция')

				.catalog_pagination
					.catalog_pagination__wrap
						button.catalog_pagination__arrow.catalog_pagination__arrow--prev.is-disabled 
							+svg('arrow_small', 'icon')

						button.catalog_pagination__num.is-active 1
						button.catalog_pagination__num 2
						button.catalog_pagination__num 3


						button.catalog_pagination__arrow.catalog_pagination__arrow--next 
							+svg('arrow_small', 'icon')

					button.catalog_pagination__btn_more.btn.btn--outlined.btn--small
						span.btn__text Показать ещё


		section.section.general_form
			.general_form__container.container 
				.services_card.services_card--form
					.services_card__bg 
						+img(`${assetsPath}/img/general_form_bg_2.jpg`, '', 'image')

					.services_card__top
						h3.services_card__title Не нашли подходящий вариант?
						p.services_card__text Мы ежедневно пополняем базу квартир. Если вы не нашли подходящую на сайте, оставьте заявку. Сегодня-завтра она #[br.desktop] может появиться у нас в базе, и вы узнаете о ней первым

					form.services_card_form(action="/mailer" data-mailer="" data-form-id="catalog_new_page_form")
						input(type="hidden", name="form", value="Помощь в подборе квартиры (Страница каталога новостроек)")

						.services_card_form__inputs
							//-.services_card_form__span2.select(data-dropdown="", data-dropdown-name="property_type", data-dropdown-placeholder="Тип недвижимости", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Мне нужен одностраничник","value":"Мне нужен одностраничник"},{"key":"Мне нужен полноценный сайт для компании","value":"Мне нужен полноценный сайт для компании"},{"key":"Мне нужен каталог","value":"Мне нужен каталог"},{"key":"Мне нужен интернет-магазин","value":"Мне нужен интернет-магазин"},{"key":"Мне нужен небольшой сайт","value":"Мне нужен небольшой сайт"},{"key":"Мне нужен сайт-визитка","value":"Мне нужен сайт-визитка"},{"key":"Мне нужен микросайт","value":"Мне нужен микросайт"}]')
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Телефон
								.input_wrapper__tooltip(data-input-tooltip="")
							.services_card_form__span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
								textarea.input_wrapper__textarea(name="description", placeholder="Сообщение")

						button.services_card_form__btn.btn.btn--filled
							span.btn__text Перезвоните мне
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных