extends _base/_layout
block settings 

	- title = 'Каталог другой недвижимости — AFLAT';

mixin topsCard(img, rooms, floor, square, title, price, tag1)
	a.tops_card.swiper-slide(href="/apartment_other")
		.tops_card__bg
			+img(img, '', 'image')
		.tops_card__tags 
			.tops_card__tag
				+imgSvg(`${assetsPath}/img/icon_fire.svg`, '', 'icon')
				span.text= tag1
		.tops_card__info
			p.tops_card__caption #{rooms} | #{floor} | #{square}
			h3.tops_card__title= title
			p.tops_card__price= price
			button.tops_card__btn.btn.btn--white.btn--small
				span.btn__text Подробнее

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.catalog
			.catalog__container.container 
				.catalog__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Другая недвижимость

				
				h1.section_block__title Другая недвижимость

				.catalog_filters
					
					.catalog_filters__main
						.catalog_filters__block
							p.catalog_filters__caption Район
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="place", data-dropdown-placeholder="Район", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Любой","value":"Любой"},{"key":"Район1","value":"Район1"},{"key":"Район2","value":"Район2"},{"key":"Район3","value":"Район3"},{"key":"Район4","value":"Район4"},{"key":"Район5","value":"Район5"},{"key":"Район6","value":"Район6"}]')

						.catalog_filters__block
							p.catalog_filters__caption Стоимость, ₽
							.catalog_filters__inputs 
								.catalog_filters__input.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
									input.input_wrapper__input(type="text" name="priceFrom" autocomplete="off")
									label.input_wrapper__label От
								.catalog_filters__input.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
									input.input_wrapper__input(type="text" name="priceTo" autocomplete="off")
									label.input_wrapper__label До
						
						.catalog_filters__block
							p.catalog_filters__caption Площадь, м²
							.catalog_filters__inputs 
								.catalog_filters__input.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
									input.input_wrapper__input(type="text" name="squareFrom" autocomplete="off")
									label.input_wrapper__label От
								.catalog_filters__input.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
									input.input_wrapper__input(type="text" name="squareTo" autocomplete="off")
									label.input_wrapper__label До

						.catalog_filters__block
							p.catalog_filters__caption Тип недвижимости
							.catalog_filters__select.select(data-dropdown="", data-dropdown-name="propertyType", data-dropdown-placeholder="Тип недвижимости", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Дом","value":"Дом"},{"key":"Дача","value":"Дача"},{"key":"Нежилое","value":"Нежилое"}]') 
						

					.catalog_filters_dropdown(data-dropdown-block="")
						.catalog_filters_dropdown__top
							button.catalog_filters_dropdown__btn(data-dropdown-btn) 
								span.text Еще фильтры
								+svg('arrow_down', 'icon icon--right')
							button.catalog_filters_dropdown__btn
								+svg('cross', 'icon icon--left')
								span.text Сбросить все фильтры

						.catalog_filters_dropdown__content
							.catalog_filters__block
								p.catalog_filters__caption Формат
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Покупка
									button.catalog_filters__tabs_btn Аренда
									
							.catalog_filters__block
								p.catalog_filters__caption Материал дома
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Кирпичный
									button.catalog_filters__tabs_btn Деревянный
									button.catalog_filters__tabs_btn Монолитный
									button.catalog_filters__tabs_btn Щитовой
									button.catalog_filters__tabs_btn Каркасный
									button.catalog_filters__tabs_btn Газобетонный блок
									button.catalog_filters__tabs_btn Газосиликатный блок
									button.catalog_filters__tabs_btn Пенобетонный блок
							
							.catalog_filters__block
								p.catalog_filters__caption Тип отопления
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Центральное газовое
									button.catalog_filters__tabs_btn Угольное
									button.catalog_filters__tabs_btn Печь
									button.catalog_filters__tabs_btn Камин
									button.catalog_filters__tabs_btn Электрическое
									button.catalog_filters__tabs_btn Автономное газовое
									button.catalog_filters__tabs_btn Дизельное
									button.catalog_filters__tabs_btn Твердотопливный котел
									button.catalog_filters__tabs_btn Без отопления
							
							.catalog_filters__block
								p.catalog_filters__caption Наличие комуникаций
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Электричество
									button.catalog_filters__tabs_btn Газ
									button.catalog_filters__tabs_btn Водоснабжение
									button.catalog_filters__tabs_btn Канализация
							
							.catalog_filters__block
								p.catalog_filters__caption Дополнительные удобства
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Баня
									button.catalog_filters__tabs_btn Гараж
									button.catalog_filters__tabs_btn Охрана
									button.catalog_filters__tabs_btn Бассейн
							
							.catalog_filters__block
								p.catalog_filters__caption Земля
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn ИЖС
									button.catalog_filters__tabs_btn Садоводство
									button.catalog_filters__tabs_btn ДНП
									button.catalog_filters__tabs_btn Личное подсобное хозяйство
									button.catalog_filters__tabs_btn Фермерское хозяйство
									button.catalog_filters__tabs_btn Земля промназначения
							
							.catalog_filters__block
								p.catalog_filters__caption Этажность
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Одноэтажное
									button.catalog_filters__tabs_btn Двухэтажное
									button.catalog_filters__tabs_btn Трехэтажное
							
							.catalog_filters__block
								p.catalog_filters__caption Кол-во спален
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Одна
									button.catalog_filters__tabs_btn Две
									button.catalog_filters__tabs_btn Три
									button.catalog_filters__tabs_btn Четыре +
							
							.catalog_filters__block
								p.catalog_filters__caption Санузел
								.catalog_filters__tabs
									button.catalog_filters__tabs_btn Вне дома
									button.catalog_filters__tabs_btn В доме									


					p.catalog_filters__caption.catalog_filters__caption--count Найдено 12 объектов

				.catalog__content
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '1 комната', '6 этаж', '51 м²', 'Анны Щетининой, 26 ', 'от 7 264 060 ₽', 'Цена ниже рыночной')
					+topsCard(`${assetsPath}/img/tops_benefits_1.jpg`, '2 комната', '7 этаж', '60 м²', 'Ватутина, 4д ', '8 000 000 ₽', 'Цена ниже рыночной')

				.catalog_pagination
					.catalog_pagination__wrap
						button.catalog_pagination__arrow.catalog_pagination__arrow--prev.is-disabled 
							+svg('arrow_small', 'icon')

						button.catalog_pagination__num.is-active 1
						button.catalog_pagination__num 2
						button.catalog_pagination__num 3


						button.catalog_pagination__arrow.catalog_pagination__arrow--next 
							+svg('arrow_small', 'icon')

					button.catalog_pagination__btn_more.btn.btn--outlined.btn--small
						span.btn__text Показать ещё


		section.section.general_form
			.general_form__container.container 
				.services_card.services_card--form
					.services_card__bg 
						+img(`${assetsPath}/img/general_form_bg_2.jpg`, '', 'image')

					.services_card__top
						h3.services_card__title Не нашли подходящий вариант?
						p.services_card__text Мы ежедневно пополняем базу квартир. Если вы не нашли подходящую на сайте, оставьте заявку. Сегодня-завтра она #[br.desktop] может появиться у нас в базе, и вы узнаете о ней первым

					form.services_card_form(action="/mailer" data-mailer="" data-form-id="catalog_other_page_form")
						input(type="hidden", name="form", value="Помощь в подборе объекта (Страница другой недвижимости)")

						.services_card_form__inputs
							//-.services_card_form__span2.select(data-dropdown="", data-dropdown-name="property_type", data-dropdown-placeholder="Тип недвижимости", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Мне нужен одностраничник","value":"Мне нужен одностраничник"},{"key":"Мне нужен полноценный сайт для компании","value":"Мне нужен полноценный сайт для компании"},{"key":"Мне нужен каталог","value":"Мне нужен каталог"},{"key":"Мне нужен интернет-магазин","value":"Мне нужен интернет-магазин"},{"key":"Мне нужен небольшой сайт","value":"Мне нужен небольшой сайт"},{"key":"Мне нужен сайт-визитка","value":"Мне нужен сайт-визитка"},{"key":"Мне нужен микросайт","value":"Мне нужен микросайт"}]')
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Телефон
								.input_wrapper__tooltip(data-input-tooltip="")
							.services_card_form__span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
								textarea.input_wrapper__textarea(name="description", placeholder="Сообщение")

						button.services_card_form__btn.btn.btn--filled
							span.btn__text Перезвоните мне
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных