extends _base/_layout
block settings 

	- title = 'Покупка недвижимости — AFLAT';

mixin respBlock(icon, title, text)
	.responsibilities_block
		.responsibilities_block__icon
			+svg(icon, 'icon')
		h3.responsibilities_block__title= title
		p.responsibilities_block__text= text

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.sale_main.purchase
			.sale_main__container.container 
				.sale_main__breadcrumbs.breadcrumbs
					a.breadcrumbs__link(href="/") Главная
					.breadcrumbs__dot 
					.breadcrumbs__link.is-active Покупка недвижимости

				.sale_main__content
					.sale_main__img
						+img(`${assetsPath}/img/purchase_main_img.jpg`, '', 'image')
					
					.sale_main__info 
						.section_block
							h2.section_block__title.section_block__title--white Покупка недвижимости
							p.section_block__text.section_block__text--white Поможем подобрать объект в новостройке или на вторичном рынке под ваш запрос и бюджет
						
						button.sale_main__info_btn.btn.btn--filled(data-linked-modal="")
							span.btn__text Оставить заявку

		section.section.responsibilities
			.responsibilities__container.container
				.section_block
					h2.section_block__title Возьмем на себя

				.responsibilities__content 
					+respBlock('res_icon_5', 'Поиск объекта', 'AFLAT является официальным партнёром большинства застройщиков города, поэтому мы не берём комиссию за подбор и покупку квартиры в новостройке.')
					+respBlock('res_icon_2', 'Экскурсия на объект', 'Даже если дом ещё не сдан, проводим показы и напрямую можем задать любые вопросы застройщику.')
					+respBlock('res_icon_3', 'Одобрение ипотеки', 'Заявку отправляем одновременно в несколько банков и выбираем наилучшие условия для своих клиентов.')
					+respBlock('res_icon_6', 'Оформление документов', 'Все объекты мы проверяем на юридическую чистоту и гарантируем 100% безопасность.')

		
		section.section.reliably
			.reliably__container.container
				.section_block
					h2.section_block__title.section_block__title--small С нами спокойно #[br.desktop] и надежно

				.reliably__content 
					.reliably_block
						.reliably_block__top
							p.reliably_block__title Самостоятельное оформление
						
						.reliably_block__content
							.reliably_block__wrap 
								p.reliably_block__caption Затраченное время
								p.reliably_block__text Под ваш запрос может подойти несколько десятков, а то и сотен квартир. Представьте, сколько вы потратите времени и сил, чтобы всё отсмотреть
							.reliably_block__wrap 
								p.reliably_block__caption Отказ банка
								p.reliably_block__text Если вам нужна ипотека, но нет официального дохода, то получить одобрение будет очень сложно
							.reliably_block__wrap 
								p.reliably_block__caption Юридические вопросы
								p.reliably_block__text Вся ответственность за проверку объекта и подготовку документов ложится на вас
							
					
					.reliably_block.reliably_block--green
						.reliably_block__top
							p.reliably_block__title Оформление #[br.desktop] #[br.tablet] через AFLAT
							.reliably_block__icon 
								+imgSvg(`${assetsPath}/img/aflat_logo.svg`, '', 'image')
						
						.reliably_block__content
							.reliably_block__wrap 
								p.reliably_block__caption Затраченное время
								p.reliably_block__text Оно минимально. Мы подбираем объекты, исходя из вашего запроса и бюджета. Отправляем на согласование только лучшие варианты 
							.reliably_block__wrap 
								p.reliably_block__caption Одобрение ипотеки
								p.reliably_block__text Сопровождаем сделку на всех этапах. Наши клиенты получают одобрение от банка даже в самых сложных случаях
							.reliably_block__wrap 
								p.reliably_block__caption Юридические вопросы
								p.reliably_block__text Их решает наш юрист. Всё чисто и прозрачно. Вам не за что переживать
							
		section.section.general_form
			.general_form__container.container 
				.services_card.services_card--form
					.services_card__bg 
						+img(`${assetsPath}/img/general_form_bg_1.jpg`, '', 'image')

					.services_card__top
						h3.services_card__title Обратиться за помощью #[br.desktop] в покупке квартиры
						p.services_card__text Оставьте заявку, и мы проведём с вами онлайн-встречу в любое удобное для вас время, вне зависимости от того, в каком часовом поясе вы сейчас находитесь.

					form.services_card_form(action="/mailer" data-mailer="" data-form-id="purchase_page_form")
						input(type="hidden", name="form", value="Помощь в покупке недвижимости (Страница помощи покупки недвижимости)")

						.services_card_form__inputs
							//-.services_card_form__span2.select(data-dropdown="", data-dropdown-name="property_type", data-dropdown-placeholder="Тип недвижимости", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Мне нужен одностраничник","value":"Мне нужен одностраничник"},{"key":"Мне нужен полноценный сайт для компании","value":"Мне нужен полноценный сайт для компании"},{"key":"Мне нужен каталог","value":"Мне нужен каталог"},{"key":"Мне нужен интернет-магазин","value":"Мне нужен интернет-магазин"},{"key":"Мне нужен небольшой сайт","value":"Мне нужен небольшой сайт"},{"key":"Мне нужен сайт-визитка","value":"Мне нужен сайт-визитка"},{"key":"Мне нужен микросайт","value":"Мне нужен микросайт"}]')
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="text" name="name" required autocomplete="off")
								label.input_wrapper__label Имя
								.input_wrapper__tooltip(data-input-tooltip="")
							.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
								input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
								label.input_wrapper__label Телефон
								.input_wrapper__tooltip(data-input-tooltip="")
							.services_card_form__span2.input_wrapper.input_wrapper--textarea(data-input-wrapper="")
								textarea.input_wrapper__textarea(name="message", placeholder="Описание квартиры")

						button.services_card_form__btn.btn.btn--filled
							span.btn__text Оставить заявку
						
						p.services_card_form__privacy Нажимая кнопку, вы соглашаетесь с условиями обработки #[br.desktop] персональных данных